.espacio{
    margin-top: 20px;
    color: transparent;
}

.tituloTres{
    margin-top: 50px;
    font-size: 35px;
    color:#0077b6 ;
}

.proy1{
    margin-left: 20px;
}

.proy2{
    margin-left: 320px;
    margin-top: -399px;
}

.proy3{
    margin-left: 630px;
    margin-top: -280px;
}

.proy4{
    margin-left: 930px;
    margin-top: -280px;
}