.inicio button{
    position: absolute;
text-decoration: none;
margin-left: 10px;
margin-top: 0px;
}

.servicios button{
    position: absolute;
    text-decoration: none;
    margin-left: 80px;
    margin-top: 0px;
    }

    .quienes button{
        position: absolute;
        text-decoration: none;
        margin-left: 175px;
        margin-top: 0px;
        }

        .nuestros button{
            position: absolute;
            text-decoration: none;
            margin-left: 330px;
            margin-top: 0px;
            }

            .admin button{
                position: absolute;
                text-decoration: none;
                margin-left: 490px;
                margin-top: 0px;
                }
    